<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/public/style.css" rel="stylesheet" />
        <link href="/public/custom.css" rel="stylesheet" />
        <title>Success</title>
    </head>
    <body
        class="w-full max-w-sm flex mx-auto flex-col gap-y-3 items-center bg-gray-200 h-screen justify-center"
    >
        <span class="text-4xl">😊</span>
        <h1 class="text-4xl font-bold text-[#4F46E5]">Sukses</h1>
        <p class="text-sm text-center text-gray-500">
            Terimakasih, Data anda telah kami simpan ⭐
        </p>
        <a
            href="/"
            class="px-3 py-2 text-xs text-white bg-[#4F46E5] hover:bg-[#4F26E5] rounded-lg"
            >Ke Halaman Profile</a
        >
    </body>
</html>
